<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Presence analyzer</title>
    <meta name="keywords" content="" />
    <meta name="description" content=""/>
    <meta name="author" content="STX Next sp. z o.o."/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="${url_for('static', filename='css/normalize.css')}" media="all" rel="stylesheet" type="text/css" />
    <link href="${url_for('static', filename='css/style.css')}" media="all" rel="stylesheet" type="text/css" />
    <script src="${url_for('static', filename='js/jquery.min.js')}"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
</head>
<body>
    <div id="main">
        <div id="header">
            <h1>Presence analyzer</h1>
            <% navigation_bar = [
                ('/presence_weekday', 'Presence by weekday'),
                ('/mean_time_weekday', 'Presence mean time'),
                ('/presence_start_end', 'Presence mean start-end'),
                ('/top_5_employees', 'Top 5 employees'),
            ] %>
            <ul>
                % for href, caption in navigation_bar:
                    % if href == request.path:
                        <li id="selected"><a href="${href}">${caption}</a></li>
                    % else:
                        <li><a href="${href}">${caption}</a></li>
                    % endif
                % endfor
            </ul>
        </div>
        <div id="content">
            <h2><%block name="content_title"></%block></h2>
            <p>
                <div id="avatar">
                    <img src=""/>
                </div>
                <select id="dropdown" style="display: none">
                    <option value="">--</option>
                </select>
                <div id="chart_div" style="display: none"></div>
                <div id="loading">
                    <img src="${url_for('static', filename='img/loading.gif')}"/>
                </div>
            </p>
        </div>
    </div>
    <script type="text/javascript">
    function parseInterval(value) {
        var result = new Date(0);
        result.setSeconds(value);
        return result;
    }
    </script>
    <script type="text/javascript">
    <%block name="google_load"></%block>
    <% pages_with_users_listing = [
        ('/presence_weekday'),
        ('/mean_time_weekday'),
        ('/presence_start_end'),
    ] %>
        (function($) {
        $(document).ready(function() {
            var loading = $("#loading"),
                avatar_pic = $("#avatar img"),
                avatars = {},
                dropdown = $("#dropdown");
            avatar_pic.hide();

        % if request.path in pages_with_users_listing :

            $.getJSON("${url_for('users_view')}", function(result) {
                $.each(result, function(item) {
                    dropdown.append($("<option />").val(this.user_id).text(this.name));
                    avatars[this.user_id] = this.avatar;
                });
                dropdown.show();
                loading.hide();
            });
        % else :
            $.getJSON("${url_for('view_all_days')}", function(result) {
                $.each(result, function(item) {
                    dropdown.append($("<option />").val(result[item][0]).text(result[item][1]));
                });
                dropdown.show();
                loading.hide();
            });
            avatar_pic.remove();

        % endif

            $("#dropdown").change(function() {
                var selected_option = $("#dropdown").val(),
                    chart_div = $("#chart_div");
                avatar_pic.attr("src", avatars[selected_option]);
                avatar_pic.show();
                if (selected_option) {
                    loading.show();
                    chart_div.hide();
                    <%block name="getJson"></%block>
                }
            });

        });
    })(jQuery);
</script>
</body>
</html>
