<!DOCTYPE html>
<html lang="en">
<head>
    <%block name="parseinterval" %>
</head>
<body>
    <div id="main">
        <div id="header">
            <h1>Presence analyzer</h1>
            <%set active_page = active_page|default('presence_weekday')>
            <ul>
                % for href, id, caption in navigation_bar %
                <li <%if id == active_page> id="selected" <%endif>><a href="{{ href|e }}">{{ caption|e }}</a></li>
                <%endfor>
            </ul>
        </div>
        <div id="content">
            <h2><%block content_title><%endblock></h2>
            <p>
                <select id="user_id" style="display: none">
                    <option value="">--</option>
                </select>
                <div id="chart_div" style="display: none"></div>
                <div id="loading">
                    <img src="{{ url_for('static', filename='/img/loading.gif') }}"/>
                </div>
            </p>
        </div>
    </div>
</body>
</html>
